div.header{
    position: relative;
    height:100%;
    width:100%;

    background-image: url("../Image/bghome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div.title{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    border:1px solid rgba(250, 250, 250, 0.753);
    padding-top: 120px;
    padding-bottom: 120px;

    text-align: center;
}

#title, #subtitle{
    line-height: 100px;
    text-shadow: 4px 4px 8px #000000;
}

#title, #subtitle, #continue{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#continue{
    position: absolute;
    bottom: -10px;
    width: 100%;
}

#divbtcontinue{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 13px;   
    display: block;
}

#btcontinue{
    color: white;
    display: block;
    text-shadow: 2px 2px 4px #000000;
    padding: 5px 10px 5px 10px;
    border: 1px solid white;
    background: none;
}

#btcontinue:hover {
    background-color: #F74D61; 
    border: #F74D61; 
}

i {
    margin-left: -2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    border: solid white;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

#arrowa{
    position: relative;
    margin-top: 40px;
}

#arrowb{
    position: absolute;
    margin-top: -7px;
} 

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

html,body{ 
    margin:0;
    padding:0;
    height:100%; 
    width:100%;
    background: #0C1B33;
}

#full-size{
  height:100%;
  width:100%;
  overflow:auto; 
}

/* SuperLarge 2k */
@media screen and (min-width: 1500px) {    
    #title { font-size: 64px; }    
    #subtitle { font-size: 50px; } 
    #continue{ height: 70px;}
}
/* LARGE desktop */
@media screen and (max-width: 1500px) and (min-width: 1000px){    
    #title { font-size: 64px; }    
    #subtitle { font-size: 50px; } 
    #continue{height: 70px;}
}
/* MEDIUM  tablet*/
@media screen and (max-width: 1000px) and (orientation:portrait) {  
    #title { font-size: 70px;}     
    #subtitle { font-size: 50px; }
    #continue{height: 200px;}

    #continue{
        position: absolute;
        bottom: -60px;
        width: 100%;
    }

    #btcontinue{
        font-size: 40px;
        text-shadow: 2px 2px 4px #000000;
        padding: 10px 20px 10px 20px;
    }

    #arrowa{
        position: relative;
        margin-top: 70px;
        width: 30px;
        height: 30px;
        margin-left: -10px;
    }
    
    #arrowb{
        position: absolute;
        margin-top: -14px;
        width: 30px;
        height: 30px;
        margin-left: -10px;
    } 
}
/* SMALL celular */
@media screen and (max-width: 1000px) and (orientation:landscape) {  
    #title { font-size: 70px;}     
    #subtitle { font-size: 50px; }
    #continue{height: 60px;}
    div.title{ padding-top: 40px; padding-bottom: 40px;}
  
}
